<div class="container">    
  <div class="card mt-4" style="width: 18rem;">
    <%
=begin%>
 <img class="card-img-top" src="..." alt=<%=@product.name%>> 
<%
=end%>
  <div class="card-img-top">
      <%debugger%>
    <% @product.photos.each do |photo| %>
      <%debugger%>
      <%= image_tag(photo, :width => 200) %>
    <% end %>
  </div>  
    <div class="card-body">
      <h5 class="card-title"><%=@product.name%></h5>
      <p class="card-text"><%=@product.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=@product.price%></li>
    </ul>
    <div class="card-body">
      <button class="btn btn-success" type="button">Add to Cart</button>
    </div>
  </div>

<%if Product.count==0%>
  <h3>No Products are avaiable</h3>
<%end%>

  <%=link_to "Add Product", new_product_path,method: :get, class: "btn btn-primary mt-4"%>
  <%=link_to "See All Products", products_path,method: :get, class: "btn btn-primary mt-4 ml-4"%>
</div>


