<div class="container">
  <%@products.each do |product|%>
    
  <div class="card mt-4" style="width: 18rem;">
    <img class="card-img-top" src="..." alt=<%=product.name%>>
    <div class="card-body">
      <h5 class="card-title"><%=product.name%></h5>
      <p class="card-text"><%=product.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=product.price%></li>
    </ul>
    <div class="card-body text-muted">
    <%=pluralize(product.comments.count," Review")%>
    </div>
    <div class="card-body">
      <%=link_to "Show Details", product_path(product), class: "btn btn-primary mt-4"%>
      <%if user_signed_in?%>
        <%if product.user_id!=current_user.id%>
          <%=link_to "Add to Cart", root_path, class: "btn btn-success mt-4"%>
        <%else%>

        <%end%>
      <%else%>
          <%=link_to "Add to Cart", root_path, class: "btn btn-success mt-4"%>
      <%end%> 
    </div>
  </div>
  <%end%>

<%if Product.count==0%>
  <h3>No Products are avaiable</h3>
<%end%>
    <%=link_to "Add Product", new_product_path,method: :get, class: "btn btn-primary mt-4"%>
    <div class="d-flex mt-4">
    <%= paginate @products %>
    </div>`

</div>
